.slots__effect {
    font-size: 24px;
    line-height: 24px;
}

.slots__animation-wrapper {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    height: 23px;
}

.slots__animation-start {
    top: 100%;
    animation: moveSlots 0.5s linear infinite;
}

.slots__result {
    justify-content: center;
}

.slots__start {
    height: 100vh;
}
